In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

from sklearn.utils import shuffle
%matplotlib inline

In [3]:
First_df = pd.read_csv('/content/gdrive/MyDrive/Mam Hafiza Maria Data Analysis/Datasets/1st Innings T20.csv')
First_df.head()

,Unnamed: 0,matchId,balls,runs,tossWinner,battingTeam,bowlingTeam,player_out,city,venue
0,0,5_1,0.1,0,India,West Indies,India,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
1,1,5_1,0.2,0,India,West Indies,India,1,Lauderhill,Central Broward Regional Park Stadium Turf Ground
2,2,5_1,0.3,0,India,West Indies,India,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
3,3,5_1,0.4,1,India,West Indies,India,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
4,4,5_1,0.5,0,India,West Indies,India,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground

In [4]:
Second_df =pd.read_csv('/content/gdrive/MyDrive/Mam Hafiza Maria Data Analysis/Datasets/2nd Innings T20.csv')
Second_df.head()

,Unnamed: 0,matchId,balls,runs,tossWinner,battingTeam,bowlingTeam,player_out,city,venue
0,0,5_2,0.1,0,India,India,West Indies,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
1,1,5_2,0.2,0,India,India,West Indies,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
2,2,5_2,0.3,1,India,India,West Indies,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
3,3,5_2,0.4,1,India,India,West Indies,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground
4,4,5_2,0.5,0,India,India,West Indies,0,Lauderhill,Central Broward Regional Park Stadium Turf Ground

In [5]:
First_df = First_df.drop(["city","venue"],axis=1)
Second_df = Second_df.drop(["city","venue"],axis=1)

del First_df['Unnamed: 0']
del Second_df['Unnamed: 0']

In [6]:
First_df.head()

  matchId  balls  runs tossWinner  battingTeam bowlingTeam  player_out
0     5_1    0.1     0      India  West Indies       India           0
1     5_1    0.2     0      India  West Indies       India           1
2     5_1    0.3     0      India  West Indies       India           0
3     5_1    0.4     1      India  West Indies       India           0
4     5_1    0.5     0      India  West Indies       India           0

In [7]:
Second_df.head()

  matchId  balls  runs tossWinner battingTeam  bowlingTeam  player_out
0     5_2    0.1     0      India       India  West Indies           0
1     5_2    0.2     0      India       India  West Indies           0
2     5_2    0.3     1      India       India  West Indies           0
3     5_2    0.4     1      India       India  West Indies           0
4     5_2    0.5     0      India       India  West Indies           0

In [8]:
First_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91964 entries, 0 to 91963
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   matchId      91964 non-null  object
 1   balls        91964 non-null  float64
 2   runs         91964 non-null  int64
 3   tossWinner   88988 non-null  object
 4   battingTeam  91964 non-null  object
 5   bowlingTeam  91964 non-null  object
 6   player_out   91964 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 4.9+ MB

In [9]:
First_df.rename(columns = {'Unnamed: 0':'Count', 'Unnamed: 0':'Count'}, inplace = True)
Second_df.rename(columns = {'Unnamed: 0':'Count', 'Unnamed: 0':'Count'}, inplace = True)

In [10]:
First_df.head()

  matchId  balls  runs tossWinner  battingTeam bowlingTeam  player_out
0     5_1    0.1     0      India  West Indies       India           0
1     5_1    0.2     0      India  West Indies       India           1
2     5_1    0.3     0      India  West Indies       India           0
3     5_1    0.4     1      India  West Indies       India           0
4     5_1    0.5     0      India  West Indies       India           0

In [11]:
# for indx,ball in enumerate(First_df['balls']):
#   a = 6.1-0.1
#   for i in np.arange(0,a,0.1):
#     if ball == round(i,1):
#       # print(indx)
#       for i in indx:
#         if First_df['Count'] == i:
#           F_1_6_ining = First_df['Count']
      
F_1_6_ining_df = First_df.loc[(First_df['balls']<6.1)&(First_df['balls']>=0.1)]
F_1_10_ining_df = First_df.loc[(First_df['balls']<10.1)&(First_df['balls']>=0.1)]
F_1_15_ining_df = First_df.loc[(First_df['balls']<15.1)&(First_df['balls']>=0.1)]
F_1_20_ining_df = First_df.loc[(First_df['balls']<=19.10)&(First_df['balls']>=0.1)]

In [12]:
S_2_6_ining_df = Second_df.loc[(Second_df['balls']<6.1)&(Second_df['balls']>=0.1)]
S_2_10_ining_df = Second_df.loc[(Second_df['balls']<10.1)&(Second_df['balls']>=0.1)]
S_2_15_ining_df = Second_df.loc[(Second_df['balls']<15.1)&(Second_df['balls']>=0.1)]
S_2_20_ining_df = Second_df.loc[(Second_df['balls']<=19.10)&(Second_df['balls']>=0.1)]

In [13]:
# F_1_6_ining_df.to_csv("/content/gdrive/MyDrive/Mam Hafiza Maria Data Analysis/6 over inning.csv")

In [14]:
F_1_6_ining_df.head()

  matchId  balls  runs tossWinner  battingTeam bowlingTeam  player_out
0     5_1    0.1     0      India  West Indies       India           0
1     5_1    0.2     0      India  West Indies       India           1
2     5_1    0.3     0      India  West Indies       India           0
3     5_1    0.4     1      India  West Indies       India           0
4     5_1    0.5     0      India  West Indies       India           0

In [15]:
match_inn1_6=F_1_6_ining_df.groupby(by=['matchId','battingTeam'], as_index=False).sum()
match_inn1_10=F_1_10_ining_df.groupby(by=['matchId','battingTeam'], as_index=False).sum()
match_inn1_15=F_1_15_ining_df.groupby(by=['matchId','battingTeam'], as_index=False).sum()
match_inn1_20=F_1_20_ining_df.groupby(by=['matchId','battingTeam'], as_index=False).sum()

In [16]:
match_inn2_6=S_2_6_ining_df.groupby(by=['matchId','battingTeam'], as_index=False).sum()
match_inn2_10=S_2_10_ining_df.groupby(by=['matchId','battingTeam'], as_index=False).sum()
match_inn2_15=S_2_15_ining_df.groupby(by=['matchId','battingTeam'], as_index=False).sum()
match_inn2_20=S_2_20_ining_df.groupby(by=['matchId','battingTeam'], as_index=False).sum()

In [17]:
match_inn1_6.head()

  matchId   battingTeam  balls  runs  player_out
0  1000_1  South Africa  106.3    28           2
1  1001_1   West Indies  102.6    43           1
2  1004_1  South Africa  108.7    31           2
3   100_1      Pakistan  106.3    47           0
4  1013_1   West Indies  104.3    47           1

In [18]:
match_inn1_6.shape

(761, 5)

In [19]:
match_inn2_6.shape

(750, 5)

In [20]:
not_found_1_6_inn=[]
for id1 in match_inn1_6.matchId.tolist():
    lst=int(id1[-1])+1
    id2=id1[:-1]+(str(lst))
    if id2 not in match_inn2_6.matchId.tolist():
      
        not_found_1_6_inn.append(id1)


not_found_1_10_inn=[]
for id1 in match_inn1_10.matchId.tolist():
    lst=int(id1[-1])+1
    id2=id1[:-1]+(str(lst))
    if id2 not in match_inn2_10.matchId.tolist():
        
        not_found_1_10_inn.append(id1)


not_found_1_15_inn=[]
for id1 in match_inn1_15.matchId.tolist():
    lst=int(id1[-1])+1
    id2=id1[:-1]+(str(lst))
    if id2 not in match_inn2_15.matchId.tolist():
        
        not_found_1_15_inn.append(id1)


not_found_1_20_inn=[]
for id1 in match_inn1_20.matchId.tolist():
    lst=int(id1[-1])+1
    id2=id1[:-1]+(str(lst))
    if id2 not in match_inn2_20.matchId.tolist():
        
        not_found_1_20_inn.append(id1)

In [21]:
not_found_1_6_inn

['1169_1',
 '129_1',
 '1345_1',
 '1479_1',
 '1582_1',
 '1655_1',
 '1672_1',
 '212_1',
 '235_1',
 '381_1',
 '946_1']

In [22]:
not_found_1_10_inn

['1169_1',
 '129_1',
 '1345_1',
 '1479_1',
 '1582_1',
 '1655_1',
 '1672_1',
 '212_1',
 '235_1',
 '381_1',
 '946_1']

In [23]:
not_found_1_15_inn

['1169_1',
 '129_1',
 '1345_1',
 '1479_1',
 '1582_1',
 '1655_1',
 '1672_1',
 '212_1',
 '235_1',
 '381_1',
 '946_1']

In [24]:
not_found_1_20_inn

['1169_1',
 '129_1',
 '1345_1',
 '1479_1',
 '1582_1',
 '1655_1',
 '1672_1',
 '212_1',
 '235_1',
 '381_1',
 '946_1']

In [25]:
# so drop this number of match in 
for id1 in not_found_1_6_inn:
    match_inn1_6.drop(match_inn1_6.index[match_inn1_6['matchId'] ==id1],inplace=True)

for id1 in not_found_1_10_inn:
    match_inn1_10.drop(match_inn1_10.index[match_inn1_10['matchId'] ==id1],inplace=True)

for id1 in not_found_1_15_inn:
    match_inn1_15.drop(match_inn1_15.index[match_inn1_15['matchId'] ==id1],inplace=True)

for id1 in not_found_1_20_inn:
    match_inn1_20.drop(match_inn1_20.index[match_inn1_20['matchId'] ==id1],inplace=True)

In [26]:
match_inn1_6.shape

(750, 5)

In [27]:
match_inn2_6.shape

(750, 5)

In [28]:
match_inn1_20.shape

(750, 5)

In [29]:
match_inn2_20.shape

(750, 5)

In [30]:
#merge the dataset
mergedInn1_6_Inn2_6 = pd.merge(match_inn1_6, match_inn2_6,on=match_inn1_6.index)

mergedInn1_10_Inn2_10 = pd.merge(match_inn1_10, match_inn2_10,on=match_inn1_10.index)

mergedInn1_15_Inn2_15 = pd.merge(match_inn1_15, match_inn2_15,on=match_inn1_15.index)

mergedInn1_20_Inn2_20 = pd.merge(match_inn1_20, match_inn2_20,on=match_inn1_20.index)

In [31]:
mergedInn1_6_Inn2_6.head()

,key_0,matchId_x,battingTeam_x,balls_x,runs_x,player_out_x,matchId_y,battingTeam_y,balls_y,runs_y,player_out_y
0,0,1000_1,South Africa,106.3,28,2,1000_2,Pakistan,103.3,37,3
1,1,1001_1,West Indies,102.6,43,1,1001_2,Australia,109.0,51,1
2,2,1004_1,South Africa,108.7,31,2,1004_2,India,108.8,29,1
3,3,100_1,Pakistan,106.3,47,0,100_2,Australia,105.3,52,1
4,4,1013_1,West Indies,104.3,47,1,1013_2,Pakistan,109.0,47,2

In [32]:
mergedInn1_20_Inn2_20.head()

,key_0,matchId_x,battingTeam_x,balls_x,runs_x,player_out_x,matchId_y,battingTeam_y,balls_y,runs_y,player_out_y
0,0,1000_1,South Africa,1104.4,125,6,1000_2,Pakistan,1136.8,125,8
1,1,1001_1,West Indies,1114.4,178,6,1001_2,Australia,1091.4,158,8
2,2,1004_1,South Africa,1116.5,122,8,1004_2,India,1098.9,124,4
3,3,100_1,Pakistan,1168.9,162,3,100_2,Australia,1118.5,177,5
4,4,1013_1,West Indies,1116.1,141,6,1013_2,Pakistan,1150.3,138,9

In [33]:
groupedBy_6=mergedInn1_6_Inn2_6.groupby(by=['battingTeam_x','key_0'], as_index=False).sum()

groupedBy_10=mergedInn1_10_Inn2_10.groupby(by=['battingTeam_x','key_0'], as_index=False).sum()

groupedBy_15=mergedInn1_15_Inn2_15.groupby(by=['battingTeam_x','key_0'], as_index=False).sum()

groupedBy_20=mergedInn1_20_Inn2_20.groupby(by=['battingTeam_x','key_0'], as_index=False).sum()

In [34]:
groupedBy_6.head()

,battingTeam_x,key_0,balls_x,runs_x,player_out_x,balls_y,runs_y,player_out_y
0,Afghanistan,12,103.3,23,3,102.6,45,1
1,Afghanistan,14,108.0,25,3,102.6,32,1
2,Afghanistan,65,103.3,43,1,102.6,40,2
3,Afghanistan,66,109.7,32,2,109.0,32,2
4,Afghanistan,92,107.0,39,2,105.3,64,2

In [35]:
groupedBy_10.head()

,battingTeam_x,key_0,balls_x,runs_x,player_out_x,balls_y,runs_y,player_out_y
0,Afghanistan,12,291.7,56,4,299.7,61,2
1,Afghanistan,14,296.4,48,4,291.0,58,3
2,Afghanistan,65,291.7,74,1,297.7,56,3
3,Afghanistan,66,304.8,63,3,297.4,63,3
4,Afghanistan,92,304.1,72,4,300.4,83,9

In [36]:
groupedBy_15.head()

,battingTeam_x,key_0,balls_x,runs_x,player_out_x,balls_y,runs_y,player_out_y
0,Afghanistan,12,687.6,91,4,670.2,101,2
1,Afghanistan,14,681.6,69,6,495.3,92,3
2,Afghanistan,65,675.9,105,4,682.9,85,5
3,Afghanistan,66,711.5,106,4,679.6,96,4
4,Afghanistan,92,689.3,123,5,362.5,93,9

In [37]:
groupedBy_20.head()

,battingTeam_x,key_0,balls_x,runs_x,player_out_x,balls_y,runs_y,player_out_y
0,Afghanistan,12,1111.1,124,7,999.3,125,2
1,Afghanistan,14,1153.3,90,10,495.3,92,3
2,Afghanistan,65,1134.8,167,6,1106.4,124,5
3,Afghanistan,66,1167.4,151,8,1140.6,124,6
4,Afghanistan,92,1130.5,175,6,362.5,93,9

In [38]:
wins_matches_6=groupedBy_6[groupedBy_6.runs_x > groupedBy_6.runs_y]
loss_matches_6=groupedBy_6[groupedBy_6.runs_x < groupedBy_6.runs_y]
draw_matches_6=groupedBy_6[groupedBy_6.runs_x == groupedBy_6.runs_y]

wins_matches_10=groupedBy_10[groupedBy_10.runs_x > groupedBy_10.runs_y]
loss_matches_10=groupedBy_10[groupedBy_10.runs_x < groupedBy_10.runs_y]
draw_matches_10=groupedBy_10[groupedBy_10.runs_x == groupedBy_10.runs_y]

wins_matches_15=groupedBy_15[groupedBy_15.runs_x > groupedBy_15.runs_y]
loss_matches_15=groupedBy_15[groupedBy_15.runs_x < groupedBy_15.runs_y]
draw_matches_15=groupedBy_15[groupedBy_15.runs_x == groupedBy_15.runs_y]

wins_matches_20=groupedBy_20[groupedBy_20.runs_x > groupedBy_20.runs_y]
loss_matches_20=groupedBy_20[groupedBy_20.runs_x < groupedBy_20.runs_y]
draw_matches_20=groupedBy_20[groupedBy_20.runs_x == groupedBy_20.runs_y]

In [39]:
draw_matches_20.shape

(17, 8)

In [40]:
wins_matches_6['Winning Batting_Team'] =  1
wins_matches_10['Winning Batting_Team'] =  1
wins_matches_15['Winning Batting_Team'] = 1
wins_matches_20['Winning Batting_Team'] =  1


loss_matches_6['Winning Batting_Team'] =  0
loss_matches_10['Winning Batting_Team'] =  0
loss_matches_15['Winning Batting_Team'] =  0
loss_matches_20['Winning Batting_Team'] =  0

draw_matches_6['Winning Batting_Team'] = 1
draw_matches_10['Winning Batting_Team'] = 1
draw_matches_15['Winning Batting_Team'] = 1
draw_matches_20['Winning Batting_Team'] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [41]:
wins_matches_6.head()

,battingTeam_x,key_0,balls_x,runs_x,player_out_x,balls_y,runs_y,player_out_y,Winning Batting_Team
2,Afghanistan,65,103.3,43,1,102.6,40,2,1
5,Afghanistan,110,113.0,41,4,102.6,38,4,1
7,Afghanistan,170,105.0,42,0,103.3,28,2,1
10,Afghanistan,231,107.3,42,2,104.3,25,3,1
11,Afghanistan,283,102.6,43,0,112.1,34,5,1

In [42]:
loss_matches_6.head()

,battingTeam_x,key_0,balls_x,runs_x,player_out_x,balls_y,runs_y,player_out_y,Winning Batting_Team
0,Afghanistan,12,103.3,23,3,102.6,45,1,0
1,Afghanistan,14,108.0,25,3,102.6,32,1,0
4,Afghanistan,92,107.0,39,2,105.3,64,2,0
6,Afghanistan,118,111.7,37,3,102.6,47,0,0
8,Afghanistan,180,105.3,55,2,107.0,62,2,0

In [43]:
draw_matches_6.head()

,battingTeam_x,key_0,balls_x,runs_x,player_out_x,balls_y,runs_y,player_out_y,Winning Batting_Team
3,Afghanistan,66,109.7,32,2,109.0,32,2,1
22,Afghanistan,562,110.7,36,3,102.6,36,0,1
48,Australia,224,109.0,42,2,105.0,42,0,1
66,Australia,411,107.3,49,1,86.1,49,1,1
148,England,69,103.3,55,1,106.3,55,0,1

In [44]:
overall_df_6 = shuffle(pd.merge(pd.merge(wins_matches_6, loss_matches_6,how='outer'),draw_matches_6,how='outer'))
overall_df_10 = shuffle(pd.merge(pd.merge(wins_matches_10, loss_matches_10,how='outer'),draw_matches_10,how='outer'))
overall_df_15 = shuffle(pd.merge(pd.merge(wins_matches_15, loss_matches_15,how='outer'),draw_matches_15,how='outer'))
overall_df_20 = shuffle(pd.merge(pd.merge(wins_matches_20, loss_matches_20,how='outer'),draw_matches_20,how='outer'))

overall_df_6.reset_index(drop=True,inplace=True)
overall_df_10.reset_index(drop=True,inplace=True)
overall_df_15.reset_index(drop=True,inplace=True)
overall_df_20.reset_index(drop=True,inplace=True)

In [45]:
overall_df_6.head()

,battingTeam_x,key_0,balls_x,runs_x,player_out_x,balls_y,runs_y,player_out_y,Winning Batting_Team
0,Sri Lanka,423,104.3,47,3,103.3,41,3,1
1,Pakistan,42,114.8,46,1,107.3,28,2,1
2,India,125,108.0,57,1,102.6,25,1,1
3,India,463,108.7,40,2,113.0,53,3,0
4,Netherlands,614,102.6,25,2,105.0,38,2,0

In [46]:
overall_df_6.to_csv("/content/gdrive/MyDrive/Mam Hafiza Maria Data Analysis/Generated Datasets/join_6.csv",index=False)
overall_df_10.to_csv("/content/gdrive/MyDrive/Mam Hafiza Maria Data Analysis/Generated Datasets/join_10.csv",index=False)
overall_df_15.to_csv("/content/gdrive/MyDrive/Mam Hafiza Maria Data Analysis/Generated Datasets/join_15.csv",index=False)
overall_df_20.to_csv("/content/gdrive/MyDrive/Mam Hafiza Maria Data Analysis/Generated Datasets/join_20.csv",index=False)